/node_modules
/public/hot
/public/storage
/public/.htaccess
/public/imagens
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
public/img/Thumbs.db
*.xml
app/Connections/FirebirdConnection.php
app/Repositories/GerentiApiRepository.php
*.json
config/database.php
resources/views/admin/crud/editar.blade.php
